.custom-nav{
    background-color: #00B4FA;
    color: white !important;
}

a{
    color: white !important;
}

a:hover{
    background-color: #00B4FA !important;
}

.white-color{
    color: white !important;
}

.theme-color{
    background-color: #00B4FA;
}